<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>{% block title %}MyQuiz{% endblock %}</title>
</head>

<body>
    <ul class="nav nav-fill bg-light border-bottom" style="padding: 10px 0;">
        <li class="nav-item">
            <a href="{{ path('index') }}" class="nav-link">Accueil</a>
        </li>
        {% if not app.user %}
        <li class="nav-item">
            <a href="{{ path('app_login') }}" class="nav-link">Se connecter</a>
        </li>
        <li class="nav-item">
            <a href="{{ path('register') }}" class="nav-link">S'inscrire</a>
        </li>
        {% else %}
        <li class="nav-item">
            <a href="" class="nav-link">Profil</a>
        </li>
        <li class="nav-item">
            <a href="{{ path('app_logout') }}" class="nav-link">Logout</a>
        </li>
        {% endif %}
    </ul>
    {% if categorie is defined %}
    <div style="margin: 75px auto; width: 50%;">
        <div class="card">
            <div class="card-header">
                <span class="badge badge-primary">
                    <h3>Quiz</h3>
                </span>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    {% for categories in categorie %}
                    <li class="list-group-item">
                        <a href="{{ path('question', { id: categories.id }) }}">{{ categories.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% endif %}
    {% block body %}{% endblock %}
</body>

</html>